langchain==0.0.239
chromadb==0.4.3
pypdf==3.13.0
unstructured==0.8.4
requests==2.31.0
gradio==3.39.0
Flask==2.3.2
opensearch-py==2.2.0
transformers==4.31.0
torch==2.0.1
bitsandbytes==0.41.0
accelerate==0.21.0
scipy==1.11.1
xformers==0.0.20